body {
    margin: 0;
    font-family: Roboto;
    background-color: #eeeeee;
}

header {
    margin: 0;
}

.topnav {
    overflow: hidden;
    height: auto;
    background: #eeeeee; /*rgba(238, 238, 238, 0.0)*/
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 5;
}

/* Sale Banner */
#sale-display {
    display: flex;
    flex-grow: 0.75;
    flex-direction: row;
    
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.sale-text {
    min-width: 150px;
    margin: auto;
    text-align: center;
    font-size: small;
}

/*End*/

.links,
.drop-links,
#menu-icon {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    font-size: medium;
    align-self: center;
}

.links:hover,
.drop-links:hover,
#menu-icon:hover {
    color: orange;
}

.links:hover {
    border-bottom: 1.5px solid orange;
    font-weight: bold;
}

.shop-link {
    font-size: larger;
    border: 1px cadetblue solid !important;
    margin: 10px !important;
    padding: 5px 10px !important;
    border-radius: 2px;
    font-weight: bold;
}

.shop-link:hover {
    border: 1px solid orange !important;
}

/* Sunglasses Logo */
#logo-container {
    float: left;
}

#logo {
    width: 50px;
    height: auto;
}


/* Both Navbar Icons */
#menu-icon,
#logo-container {
    display: block;
    margin: 10px;
}

#menu-icon {
    display: none;
}

/* Top Navbar Links */
#topnav-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-grow: 1;
    float: right;
}



@media only screen and (max-width: 785px) {
    .sale-text-outer1,
    .sale-text-outer2 {
        font-weight: bold;
    }

    .sale-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    #sale-display {
        font-size: small;
    }

    .links {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 735px) {
    .shop-link {
        font-size: medium;
    }
}

@media only screen and (max-width: 650px) {

    #logo-container h1 {
        display: none;
    }

    .topnav {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .topnav a {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #sale-display {
        flex-grow: 5;
    }

    #sale-display p {
        margin: 0;
        padding: 10px;
    }

    .sale-text {
        flex-grow: 5;
    }

    #topnav-links {
        display: none;
    }

    @media only screen and (max-width: 435px) {
        .sale-text {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 410px) {
        #sale-display {
            padding: 0;
            margin: 0;
        }

        .sale-text-outer2 {
            display: none;
        }
    }

    @media only screen and (max-width: 289px) {
        .sale-text {
            display: none;
        }

        .sale-display {
            justify-content: center;
            text-align: center;
        }
        .sale-text-outer2 {
            display: block;
        }
    }

    #menu {
        margin-top: 50px;
        background-color: rgb(221, 221, 221);
        width: 100%;
        position: fixed;
        right: 0;
        display: none;
        z-index: 1;
        
    }

    #menu a {
        float: right;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        padding: 12px;
        font-weight: bold;
        font-size: large;
        margin: auto;
    }

    #menu a:hover {
        color: orange;
    }

    #menu a:active {
        color: darkorange;
    }
}

main {
    padding-top: 55px;
    max-width: 800px;
    display: block;
    text-align: center;
}

#main-container {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    margin: auto;
}

#sale-banner {
    background-color: burlywood; /* orangered */
    font-size: larger;
    margin-top: 15px;/* 50px */
    width: 100vw;
}

#sale-banner p {
    display: inline-block;
}

.sign1 {
    padding-right: 350px;
}

/*#sale-scroll {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin-top: 41px;
    background-color: burlywood;
    width: 100vw;
}

#sale-scroll p {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting Position */
    /*-moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply Animation 
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}*/

/*.sign2 {
    position: relative;
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting Position */
    /*-moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    /* Apply Animation 
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}*/

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
*/

#title {
    font-family: acme;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 10px #9b9b9b;
}

#name {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin-bottom: 15px;
}

#first, #last {
    font-size: large;
    width: 143px;
    margin-right: 10px;
}

#email {
    width: 300px;
    font-size: large;
}

#start-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
}

#start-btn:hover {
    background-color: darkorange;
}

#section-a {
    text-align: center;
}

#section-a form {
    display: inline-block;
}

/* Get Started Modal on submit */
    .button {
        padding: 1em 2em;
        background-color: burlywood;
        border: 0;
        color: #ffffff;
    }

    .button:hover {
        background-color: darkgrey;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /*enables the scroll bar if needed*/
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #eeeeee;
        border: 5px cadetblue solid;
        border-radius: 5px;
        margin: 30% auto;
        padding: 20px;
        width: 50%;
        /*box-shadow: ;*/
    }

    #success-msg {
        color: green;
    }

    .close-btn {
        color: #b2b2b2;
        float: right;
        font-size: 30px;
    }

    .close-btn:hover, .close-btn:focus {
        cursor: pointer;
        color: #464646;
        text-decoration: none;
    }

    #shop-btn {
        width: 150px;
        background-color: orange;
        color: black;
        border-style: none;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 14px;
        border-radius: 2px;
    }

    #shop-btn:hover {
        background-color: darkorange;
        cursor: pointer;
    }


#section-b {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 650px) {
    #section-b {
        padding: 20px;
        padding-bottom: 0;
    }
}

#section-b i {
    color: cadetblue;
}

.icon {
    text-align: center;
}

.text {
    padding: 30px 25px;
    text-align: left;
}

.text h1, .text p{
    margin: 2px;
}


.b-item p {
    padding: 15px;
}

@media only screen and (max-width: 650px) {
    #how-works {
        height: 50px;
    }
}


#vid-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0;
}

.heading {
    font-family: acme;
    color: darkorange; 
    font-size: 35px;
}

video {
    max-width: 100%;
    height: auto;
    z-index: 0;
    margin: auto;
}

@media only screen and (max-width: 650px) {
    #vid-cont {
        padding: 10px;
    }
}

#price {
    width: 100%;
    height: 50px;
}

#section-c {
    display: flex;
    color: black;
    text-align: center;
    width: 100%;
}

#section-c .box {
    border: gray 1px solid;
    border-radius: 2px;
    width: 100vw;
    height: auto;
    margin: 15px;
    margin-top: 0;
}

@media only screen and (max-width: 650px) {
    #section-c {
        display: flex;
        flex-direction: column;
    }

    #section-c .box {
        border: gray 1px solid;
        border-radius: 2px;
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

.top {
    background-color: lightgray;
    margin: 0;
    padding: 15px;
}

.select-box {
    padding: 15px;
    text-align: center;
}

.select-box h2 {
    margin: 0;
    padding: 10px;
    font-size: xx-large;
}

.select-box p {
    line-height: 10px;
}

.list {
    list-style: none;
}

.select-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: darkorange;
}

footer {
    width: 100%;
    height: 75px;
    margin-top: 20px;
    background-color: lightgray;
}




