body {
    margin: 0;
    font-family: Roboto;
    background-color: #eeeeee;
}

header {
    margin: 0;
}

.topnav {
    overflow: hidden;
    height: auto;
    background: #eeeeee; /*rgba(238, 238, 238, 0.0)*/
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

.topnav a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    padding: 15px;
    font-weight: bold;
    font-size: large;
}

.topnav a:hover {
    color: orange;
}

.links:hover {
    border-bottom: 1px solid orange;
}

.topnav .icon {
    display: none;
}

#logo-container {
    display: block;
    float: left;
}

#logo-container h1 {
    align-self: center;
    font-family: aclonica;
    height: 100%;
}

#logo {
    width: 50px;
    height: auto;
}

main {
    padding-top: 55px;
    max-width: 800px;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    #logo-container h1 {
        display: none;
    }

    .topnav {
        position: fixed;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    #menu {
        padding-top: 67px;
        background-color: rgb(221, 221, 221);
        width: 100%;
        position: fixed;
        right: 0;
        display: none;
        z-index: 1;
        
    }

    #menu a {
        float: right;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: cadetblue;
        padding: 12px;
        font-weight: bold;
        font-size: large;
        margin: auto;
    }

    #menu a:hover {
        color: orange;
    }

    #menu a:active {
        color: darkorange;
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#title {
    font-family: acme;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 10px #9b9b9b;
}

#name {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin-bottom: 15px;
}

#first, #last {
    font-size: large;
    width: 143px;
    margin-right: 10px;
}

#email {
    width: 300px;
    font-size: large;
}

#start-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
}

#start-btn:hover {
    background-color: darkorange;
}

#section-a {
    text-align: center;
}

#section-a form {
    display: inline-block;
}

/* Get Started Modal on submit */
    .button {
        padding: 1em 2em;
        background-color: burlywood;
        border: 0;
        color: #ffffff;
    }

    .button:hover {
        background-color: darkgrey;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /*enables the scroll bar if needed*/
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #eeeeee;
        border: 5px cadetblue solid;
        border-radius: 5px;
        margin: 30% auto;
        padding: 20px;
        width: 50%;
        /*box-shadow: ;*/
    }

    #success-msg {
        color: green;
    }

    .close-btn {
        color: #b2b2b2;
        float: right;
        font-size: 30px;
    }

    .close-btn:hover, .close-btn:focus {
        cursor: pointer;
        color: #464646;
        text-decoration: none;
    }

    #shop-btn {
        width: 150px;
        background-color: orange;
        color: black;
        border-style: none;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 14px;
        border-radius: 2px;
    }

    #shop-btn:hover {
        background-color: darkorange;
        cursor: pointer;
    }


#section-b {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 650px) {
    #section-b {
        padding: 20px;
        padding-bottom: 0;
    }
}

#section-b i {
    color: cadetblue;
}

.icon {
    text-align: center;
}

.text {
    padding: 30px 25px;
    text-align: left;
}

.text h1, .text p{
    margin: 2px;
}


.b-item p {
    padding: 15px;
}

@media only screen and (max-width: 650px) {
    #how-works {
        height: 50px;
    }
}


#vid-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0;
}

.heading {
    font-family: acme;
    color: darkorange; 
    font-size: 35px;
}

video {
    max-width: 100%;
    height: auto;
    z-index: 0;
}

@media only screen and (max-width: 650px) {
    #vid-cont {
        padding: 10px;
    }
}

#price {
    width: 100%;
    height: 50px;
}

#section-c {
    display: flex;
    color: black;
    text-align: center;
    width: 100%;
}

#section-c .box {
    border: gray 1px solid;
    border-radius: 2px;
    width: 100vw;
    height: auto;
    margin: 15px;
    margin-top: 0;
}

@media only screen and (max-width: 650px) {
    #section-c {
        display: flex;
        flex-direction: column;
    }

    #section-c .box {
        border: gray 1px solid;
        border-radius: 2px;
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

.top {
    background-color: lightgray;
    margin: 0;
    padding: 15px;
}

.select-box {
    padding: 15px;
    text-align: center;
}

.select-box h2 {
    margin: 0;
    padding: 10px;
    font-size: xx-large;
}

.select-box p {
    line-height: 10px;
}

.list {
    list-style: none;
}

.select-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: darkorange;
}

footer {
    width: 100%;
    height: 75px;
    margin-top: 20px;
    background-color: lightgray;
}




