body {
    margin: 0;
    font-family: Roboto;
    background-color: #eeeeee;
}

header {
    margin: 0;
}

.topnav {
    overflow: hidden;
    height: auto;
    background: #eeeeee;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.topnav a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    padding: 15px;
    font-weight: bold;
    font-size: large;
}

.topnav a:hover {
    color: orange;
}

.topnav .icon {
    display: none;
}

#logo-container {
    display: block;
    float: left;
}

#logo-container h1 {
    align-self: center;
    font-family: aclonica;
    height: 100%;
}

#logo {
    width: 50px;
    height: auto;
}

main {
    padding-top: 55px;
    max-width: 800px;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #logo-container h1 {
        display: none;
    }

    .topnav {
        position: fixed;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

}

@media only screen and (max-width: 800px) {
    .topnav.responsive {
        position: fixed;
    }

    .topnav.repsonsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#title {
    text-align: center;
}

#email {
    width: 300px;
    font-size: large;
}

#start-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 300px;
}

#start-btn:hover {
    background-color: darkorange;
}

#section-a {
    text-align: center;
}

#section-a form {
    display: inline-block;
}

/*#get-started {
    background: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}*/

#section-b {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#section-b i {
    color: cadetblue;
}

.icon {
    text-align: center;
}

.text {
    padding: 30px 25px;
    text-align: left;
}

.text h1, .text p{
    margin: 2px;
}



.b-item p {
    padding: 15px;
}

#vid-cont {
    display: flex;
    justify-content: center;
    padding: 50px;
}

video {
    max-width: 100%;
    height: auto;
}

#section-c {
    display: flex;
    color: black;
    text-align: center;
    width: 100%;
    /*align-content: space-around;
    justify-content: center;*/
}

#section-c .box {
    border: gray 1px solid;
    border-radius: 2px;
    width: 100vw;
    height: auto;
    margin: 15px;
}

@media only screen and (max-width: 650px) {
    #section-c {
        display: flex;
        flex-direction: column;
    }

    #section-c .box {
        border: gray 1px solid;
        border-radius: 2px;
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

.top {
    background-color: lightgray;
    margin: 0;
    padding: 15px;
}

.select-box {
    padding: 15px;
    text-align: center;
}

.select-box h2 {
    margin: 0;
    padding: 10px;
    font-size: xx-large;
}

.select-box p {
    line-height: 10px;
}

.list {
    list-style: none;
}

.select-btn {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: medium;
    margin-top: 10px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: darkorange;
}

footer {
    width: 100%;
    height: 75px;
    margin-top: 20px;
    background-color: lightgray;
}




